<ion-view title="Manuales" hide-nav-bar="true" cache-view="false">

    <div class="bar bar-header item-input-inset material-background">
        <button class="button button-icon button-clear ion-navicon text-white" menu-toggle="left" ng-click="toggleLeft()" style="display: block !important;"></button>

        <form name="searchForm" ng-submit="show_searched(search)" style="display: flex; width: 100%;">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Buscar manual" ng-model="search">
            </label>
            
            <button type="submit" class="button button-icon button-clear ion-ios-search text-white"></button>
        </form>
    </div>

    <!--shop section-->
    <ion-content id="news-feed-content" class="has-header">

        <ion-refresher pulling-text="Actualizar..." pulling-icon="ion-refresh" on-refresh="doRefresh()"></ion-refresher>

        <div class="text-center no-rows" ng-if="!manuals || manuals.length == 0" ng-hide="hideMessage">
            <small>Ooh, aún no hay manuales registrados</small>
        </div>

        <div class="news-item" ui-sref="app.manualDetail({manualId: item.objectId})" ng-repeat="item in manuals">
            <!--header section-->
            <div class="row header">
                <div class="col-100">
                   <span class="name">
                        {{item.name}}
                   </span>
                    <br/>
                   <small class="datetime">
                       {{ item.createdAt | amDateFormat: 'lll' }}
                   </small>
                </div>
            </div><!--end header section-->

            <!--detail section-->
            <div class="row detail">
                <div class="col">
                    <p class="content">
                        {{ item.text }}
                    </p>
                </div>
            </div>

            <!--footer section-->
            <div class="row footer" style="font-size: 16px;">
                <div class="col-33">
                    <i class="ion-document-text"></i> <span class="number">{{ item.files.length }} Archivos</span>
                </div>

                <div class="col-33">
                    <i class="ion-chatbubbles"></i> <span class="number">{{ item.comments_quantity }} Comentarios</span>
                </div>
            </div><!--end footer section-->
        </div>

        <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadData()" distance="10%"></ion-infinite-scroll>

    </ion-content><!--end restaurant section-->
</ion-view>