<ion-view title="Comentarios" cache-view="false">

    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons>

    <!--shop section-->
    <ion-content id="news-feed-content" class="has-header">
    	<div class="text-center no-rows" ng-if="!comments || comments.length == 0" ng-hide="hideMessage">
            <small>No hay ningún comentario por ahora</small>
        </div>

        <div class="news-item" ng-repeat="item in comments">
            <!--header section-->
            <div class="row header">
                <div class="col-20">
                	<img ng-if="!item.user.picture" src="img/no-avatar.jpg" class="user-img"/>
                    <img ng-if="item.user.picture" ng-src="{{ externalUrl }}uploads/users/{{ item.user.picture }}" class="user-img"/>
                </div>
                <div class="col-80">
                   <span class="name">
                        {{ item.user.first_name + " " + item.user.last_name }}
                   </span>
                    <br/>
                   <span class="datetime">
                       {{ item.createdAt | amDateFormat: 'lll' }}
                   </span>
                </div>
            </div><!--end header section-->

            <!--detail section-->
            <div class="row detail">
                <div class="col">
                    <p class="content">
                        {{ item.text }}
                    </p>
                </div>
            </div>

            <!--footer section-->
            <div class="row footer">
                <div class="col-33 text-primary" ng-click="like_comment(item.objectId)">
                    <span class="number">{{ item.likes }}</span> <span class="wording">Me gusta</span>
                </div>
            </div><!--end footer section-->
        </div>

        <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadData()" distance="10%"></ion-infinite-scroll>

    </ion-content><!--end restaurant section-->

    <ion-footer-bar class="input-chat" style="background: #fafafa; border-top: 1px solid rgba(0, 0, 0, 0.09);">
        <!--<input class="textarea" type="text" placeholder="Escribir mensaje"/>-->
        <form ng-submit="add_comment()">
            <textarea ng-model="new_comment" cols="2" rows="1" placeholder="Agregar comentario..."></textarea>
            <div class="btn-send"><a href="" onclick="$(this).submit()"><i class="ion-android-send color-yellow"></i></a></div>
        </form>
    </ion-footer-bar>
</ion-view>