<ion-view title="Información del manual" cache-view="false">
    
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons>

	<div class="bar bar-subheader material-background">
	  	<h5 class="text-nowrap text-white">{{ manual.name }}</h5>
	</div>

    <!--shop section-->
    <ion-content id="menu-dashboard-content" class="has-header has-subheader">
    	<div class="menu-dashboard-footer paddingTop20" style="padding-bottom: 60px;">
    		<md-whiteframe class="md-whiteframe-z1" layout ng-repeat="item in manual.files">
                <div class="row">
                    <div class="col-10">
                        <span ng-if="get_extension(item) == 'mp3'"><i class="material-icons" style="font-size: 24px;">audiotrack</i></span>

                        <span ng-if="get_extension(item) == 'mp4' ||
                            get_extension(item) == 'mpeg' ||
                            get_extension(item) == 'wmv' ||
                            get_extension(item) == 'avi'"><i class="material-icons" style="font-size: 24px;">videocam</i></span>

                        <span ng-if="get_extension(item) == 'jpg' ||
                            get_extension(item) == 'jpeg' ||
                            get_extension(item) == 'png' ||
                            get_extension(item) == 'gif'"><i class="material-icons" style="font-size: 24px;">image</i></span>

                        <span ng-if="get_extension(item) == 'doc' ||
                            get_extension(item) == 'docx'"><i class="fa fa-file-word-o"></i></span>

                        <span ng-if="get_extension(item) == 'xls' ||
                            get_extension(item) == 'xlsx' ||
                            get_extension(item) == 'csv'"><i class="fa fa-file-excel-o"></i></span>

                        <span ng-if="get_extension(item) == 'ppt' ||
                            get_extension(item) == 'pptx'"><i class="fa fa-file-powerpoint-o"></i></span>

                        <span ng-if="get_extension(item) == 'pdf'"><i class="fa fa-file-pdf-o"></i></span>

                        <span ng-if="get_extension(item) == 'txt'"><i class="fa fa-file-text-o"></i></span>
                    </div>
                    <div class="col-80">
                        <span ng-if="get_extension(item) == 'doc' ||
                            get_extension(item) == 'docx' ||
                            get_extension(item) == 'xls' ||
                            get_extension(item) == 'xlsx' ||
                            get_extension(item) == 'csv' ||
                            get_extension(item) == 'ppt' ||
                            get_extension(item) == 'pptx'">

                            <a href="http://docs.google.com/gview?url={{externalUrl}}uploads/manuals/{{item}}" target="_system" style="color: #808080;">
                                {{ item }}
                            </a>
                        </span>

                        <span ng-if="get_extension(item) != 'doc' &&
                            get_extension(item) != 'docx' &&
                            get_extension(item) != 'xls' &&
                            get_extension(item) != 'xlsx' &&
                            get_extension(item) != 'csv' &&
                            get_extension(item) != 'ppt' &&
                            get_extension(item) != 'pptx'">

                            <a href="{{externalUrl}}uploads/manuals/{{item}}" class="md-btn md-btn-primary" target="_system" style="color: #808080;">
                                {{ item }}
                            </a>
                        </span>
                    </div>
                    <div class="col-10">
                        <span ng-if="get_extension(item) == 'doc' ||
                            get_extension(item) == 'docx' ||
                            get_extension(item) == 'xls' ||
                            get_extension(item) == 'xlsx' ||
                            get_extension(item) == 'csv' ||
                            get_extension(item) == 'ppt' ||
                            get_extension(item) == 'pptx'">

                            <a href="http://docs.google.com/gview?url={{externalUrl}}uploads/manuals/{{item}}" target="_system">
                                <i class="fa fa-download"></i>
                            </a>
                        </span>

                        <span ng-if="get_extension(item) != 'doc' &&
                            get_extension(item) != 'docx' &&
                            get_extension(item) != 'xls' &&
                            get_extension(item) != 'xlsx' &&
                            get_extension(item) != 'csv' &&
                            get_extension(item) != 'ppt' &&
                            get_extension(item) != 'pptx'">

                            <a href="{{externalUrl}}uploads/manuals/{{item}}" target="_system">
                                <i class="fa fa-download"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </md-whiteframe>
        </div>

    </ion-content><!--end restaurant section-->

    <div class="footer-fab-bar">
        <a ui-sref="app.manualComment({manualId: manual.objectId})" class="md-button md-primary md-fab fab-footer" aria-label="Mensajes">
            <i class="ion-chatbubbles" style="position:absolute; font-size:30px; margin-top:-3px; margin-left:-13px;"></i>
        </a>
    </div>
</ion-view>