<ion-view title="Búsqueda" cache-view="false">
    
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons>

    <!--shop section-->
    <ion-content id="news-feed-content" class="has-header">

        <div class="text-center no-rows" ng-if="!manuals_searched || manuals_searched.length == 0" ng-hide="hideMessage">
            <small>Ooh, no se encontraron resultados</small>
        </div>

        <div class="news-item" ui-sref="app.manualDetail({manualId: item.objectId})" ng-repeat="item in manuals_searched">
            <!--header section-->
            <div class="row header">
                <div class="col-100">
                   <span class="name">
                        {{item.name}}
                   </span>
                    <br/>
                   <small class="datetime">
                       {{ item.createdAt | amDateFormat: 'lll' }}
                   </small>
                </div>
            </div><!--end header section-->

            <!--detail section-->
            <div class="row detail">
                <div class="col">
                    <p class="content">
                        {{ item.text }}
                    </p>
                </div>
            </div>

            <!--footer section-->
            <div class="row footer" style="font-size: 16px;">
                <div class="col-33">
                    <i class="ion-document-text"></i> <span class="number">{{ item.files.length }} Archivos</span>
                </div>

                <div class="col-33">
                    <i class="ion-chatbubbles"></i> <span class="number">{{ item.comments_quantity }} Comentarios</span>
                </div>
            </div><!--end footer section-->
        </div>

        <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadData()" distance="10%"></ion-infinite-scroll>

    </ion-content><!--end restaurant section-->
</ion-view>