<ion-view title="Mi cuenta" cache-view="false" id="expense-dashboard">
    
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons>

    <!--expense content section-->
    <ion-content id="expense-dashboard-content" class="has-header" style="margin-top: -20px;">

        <!--Below code it will disable animation to better performance-->
        <div class="list-expense-menu">
            <div class="list-expense-menu-item">
                <div class="row" style="background: #e9e9e9">
                    <div class="col-100">
                        Información personal
                    </div>
                </div>
            </div>
        	<div class="list-expense-menu-item">
                <div class="row">
                    <div class="col-20">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="col-80 menu">
                        <p class="header">Usuario</p>
                        <p class="detail">{{ currentUser.username }}</p>
                    </div>
                </div>
            </div>
            <div class="list-expense-menu-item">
                <div class="row">
                    <div class="col-20">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="col-80 menu">
                        <p class="header">Nombre</p>
                        <p class="detail">{{ currentUser.first_name }}</p>
                    </div>
                </div>
            </div>
            <div class="list-expense-menu-item">
                <div class="row">
                    <div class="col-20">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="col-80 menu">
                        <p class="header">Apellidos</p>
                        <p class="detail">{{ currentUser.last_name }}</p>
                    </div>
                </div>
            </div>
            <div class="list-expense-menu-item">
                <div class="row">
                    <div class="col-20">
                        <i class="ion-email"></i>
                    </div>
                    <div class="col-80 menu">
                        <p class="header">Email</p>
                        <p class="detail">{{ currentUser.email }}</p>
                    </div>
                </div>
            </div>
            <div class="list-expense-menu-item">
                <div class="row">
                    <div class="col-20">
                        <i class="ion-phone"></i>
                    </div>
                    <div class="col-80 menu">
                        <p class="header">Teléfono</p>
                        <p class="detail">{{ currentUser.phone }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <a ui-sref="app.profileEdit" class="md-raised social-button md-button md-default-theme material-background">
                Editar información
            </a>
        </div>
    </ion-content><!--end expense content section-->
</ion-view>