<ion-view title="Actualizar datos">
    
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons>

    <!--social sign up section-->
    <ion-content id="social-sign-up-content" class="has-header" style="padding-top: 30px;">

        <!--input section-->
        <md-input-container md-no-float="">
        	Nombres(s)*
            <input class="user-name" placeholder="Nombre" ng-model="currentUser.first_name">
        </md-input-container>

        <md-input-container md-no-float="">
        	Apellidos(s)*
            <input class="user-name" placeholder="Apellido" ng-model="currentUser.last_name">
        </md-input-container>

        <md-input-container md-no-float="">
        	Correo electrónico*
            <input class="user-name" type="email" placeholder="Correo electrónico" ng-model="currentUser.email">
        </md-input-container>

        <md-input-container md-no-float="">
            Teléfono
            <input class="user-name" type="tel" placeholder="Teléfono" ng-model="currentUser.phone">
        </md-input-container>
        <!--end input section-->
        
        <a ng-click="update_info()" class="md-raised social-button md-button md-default-theme material-background">
            Actualizar información
        </a>

        <hr>

		<md-subheader class="md-warn marginTop20">Cambiar contraseña</md-subheader>
		<md-input-container md-no-float="">
			Contraseña actual
            <input type="password" class="user-name" placeholder="Ingrese su contraseña actual" ng-model="changePassword.password">
        </md-input-container>

        <md-input-container md-no-float="">
        	Nueva contraseña
            <input type="password" class="user-name" placeholder="Ingrese la nueva contraseña" ng-model="changePassword.newpassword">
        </md-input-container>

        <md-input-container md-no-float="">
        	Repita su nueva contraseña
            <input type="password" class="user-name" placeholder="Confirme su nueva contraseña" ng-model="changePassword.repassword">
        </md-input-container>

        <a ng-click="update_password()" class="md-raised social-button md-button md-default-theme material-background">
            Cambiar contraseña
        </a>

    </ion-content><!--end social sign up section-->
</ion-view>