<!--View Information-->
<!--View name : Menu-->
<!--Controller name : menuCtrl-->
<!--Controller path : www/templates/menu/js/controllers.js-->
<!--State name : app-->
<!--URL : #app-->

<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-balanced  material-background-nav-bar">
            <ion-nav-buttons side="left">
                <a class="button button-icon button-clear ion-android-menu" menu-toggle="left" ng-click="toggleLeft()"></a>
            </ion-nav-buttons> <!--end right button on navigation bar-->
        </ion-nav-bar>  

        <div class="spinner-background" ng-if="showSpinner">
            <div class="row ui-progress-circular">
                <div class="col col-100">
                    <ion-spinner icon="android"></ion-spinner>
                </div>
            </div>
        </div>

        <ion-nav-view name="menuContent"></ion-nav-view>
        
        <!--end button section-->
    </ion-side-menu-content>
    <md-sidenav md-component-id="left" on-swipe-left="closeSideNav()" on-drag-left="closeSideNav()">
        <!--menu section-->
        <div class="material-background" id="toggle-menu-left-header">
            <!--menu header section-->
            <div class="menu-left-header" style="margin-left: 0;">
                <img ng-if="!currentUser.picture" class="user-img" src="img/icon.png" alt="Logo">
                <img ng-if="currentUser.picture" class="user-img" ng-src="{{externalUrl}}uploads/users/{{currentUser.picture}}" alt="Logo">

                <p>
                    <span class="title">{{currentUser.first_name +" "+ currentUser.last_name}}</span>
                </p>
            </div><!--end menu header section-->
        </div> <!--menu content section-->
        <ion-content id="toggle-menu-left-content">

            <!--If device is android application will present below code.-->
            <!--It will disable animation to better performance on android.-->
            <!--list section-->
            <md-subheader class="md-warn text-center">Menú</md-subheader>
            <div class="menu-list">
                <div class="row menu-item" ui-sref="app.dashboard" ng-click="closeSideNav()">
                    <div class="col-33">
                        <i class="ion-document-text"></i>
                    </div>
                    <div class="col-66">
                        <span>Manuales</span>
                    </div>
                </div>
                <div class="row menu-item" ui-sref="app.videos" ng-click="closeSideNav()">
                    <div class="col-33">
                        <i class="ion-ios-videocam"></i>
                    </div>
                    <div class="col-66">
                        <span>Videos</span>
                    </div>
                </div>
                <div class="row menu-item" ui-sref="app.profile" ng-click="closeSideNav()">
                    <div class="col-33">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="col-66">
                        <span>Mi perfil</span>
                    </div>
                </div>
                <div class="row menu-item" ng-click="logout()">
                    <div class="col-33">
                        <i class="ion-power"></i>
                    </div>
                    <div class="col-66">
                        <span>Cerrar sesión</span>
                    </div>
                </div>
            </div>
            <!--end list section-->
        </ion-content><!--end menu content section-->
        <!--end menu section-->

    </md-sidenav>
</ion-side-menus>
