<!--View Information-->
<!--View name : Fake Login-->
<!--State name : app.fakeLogin-->
<!--URL : #app/fakeLogin-->

<ion-view title="Sign In" hide-nav-bar="true">

    <!--login content section-->
    <ion-content id="social-login" class="bg-image login-view">
        <!--fake login form section-->
        <form class="fakeLogin-form">
            <div>
                <img src="img/logo.png"/>
            </div>
            <h5 class="sub-header">Ingrese su usuario y contraseña</h5>

            <div style="padding: 10px 50px 0;">
                <md-input-container md-no-float="">
                    <input class="user-name" placeholder="Usuario" ng-model="user.username">
                </md-input-container>

                <md-input-container md-no-float="">
                    <input class="user-password" type="password" placeholder="Contraseña" ng-model="user.password">
                </md-input-container>
            </div>
            <div>
                <a ng-click="login()" class="md-raised social-button md-button md-default-theme material-background" style="width: 70%">
                    Ingresar
                </a>
            </div>
        </form> <!--end fake login form section-->

        <!--<div class="row marginTop20">
            <div class="col">
                <a ui-sref="app.restorePassword" href="" class="text-white" style="text-decoration: none;">¿Olvidaste tu contraseña?</a>
            </div>
        </div>-->
    </ion-content><!--end login content section-->
</ion-view>