<!--View Information-->
<!--View name : Fake Login-->
<!--State name : app.fakeLogin-->
<!--URL : #app/fakeLogin-->

<ion-view title="Restablecer contraseña" hide-nav-bar="false">
    <!--left button on navigation bar-->
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons><!--end left button on navigation bar-->

    <!--login content section-->
    <ion-content id="social-login" class="bg-image login-view">
        <!--fake login form section-->
        <form class="fakeLogin-form">
            <div>
                <img ng-src="{{ mainLogo }}"/>
            </div>
            <h3 class="header">Restablecer contraseña</h3>
            <h5 class="sub-header">Ingrese el correo electrónico con el que se registro.</h5>

            <div style="padding: 10px 50px 0;">
                <md-input-container md-no-float="">
                    <input class="user-name" type="text" placeholder="correo electrónico" ng-model="user.email">
                </md-input-container>
            </div>
            <div>
                <a ng-click="restore_password()" class="md-raised social-button md-button md-default-theme material-background" style="width: 70%">
                    Restablecer
                </a>
            </div>
        </form> <!--end fake login form section-->

    </ion-content><!--end login content section-->
</ion-view>