<!--View Information-->
<!--View name : Fake Sign Up-->
<!--State name : app.fakeSignUp-->
<!--URL : #app/fakeSignUp-->

<ion-view title="Registro" hide-nav-bar="false">
    <!--left button on navigation bar-->
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons><!--end left button on navigation bar-->

    <!--social sign up section-->
    <ion-content id="social-sign-up-content" class="bg-image login-view">
        <div class="app-icon">
            <img ng-src="{{ logo }}" class="md-card-image" />
        </div>

        <div class="text-white marginBottom20">
            <span>Llene los siguientes datos para registrarte y comenzar a disfrutar de los beneficios como cliente.</span>
        </div>

        <!--input section-->
        <md-input-container md-no-float="">
            <input class="user-name" placeholder="Usuario" ng-model="user.username">
        </md-input-container>

        <md-input-container md-no-float="">
            <input class="user-name" placeholder="Nombre" ng-model="user.first_name">
        </md-input-container>

        <md-input-container md-no-float="">
            <input class="user-name" placeholder="Apellido" ng-model="user.last_name">
        </md-input-container>

        <md-input-container md-no-float="">
            <input type="password" class="user-name" placeholder="Contraseña" ng-model="user.password">
        </md-input-container>

        <md-input-container md-no-float="">
            <input type="password" class="user-name" placeholder="Confirmar contraseña" ng-model="user.repassword">
        </md-input-container>

        <md-input-container md-no-float="">
            <input class="user-name" type="tel" placeholder="Teléfono" ng-model="user.phone">
        </md-input-container>

        <md-input-container md-no-float="">
            <input class="user-name" type="email" placeholder="Correo electrónico" ng-model="user.email">
        </md-input-container>
        <!--end input section-->
        
        <a ng-click="signUp()" class="md-raised social-button md-button md-default-theme material-background">
            Registrarse
        </a>

    </ion-content><!--end social sign up section-->
</ion-view>